@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*---------------GLOBAL-CSS-------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;

}



li {
    list-style: none;
    float: right;
    padding: 0 1rem;
    font-family: 'Quicksand', sans-serif;
   

}


h1 {
    font-family: 'Poppins', sans-serif;
}

/*---------------LOADER-CSS-------------------*/

.loader{
    z-index: 99;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader i{
   position: absolute;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height:75px;
    border:10px solid #bcbcbc;
    border-top-color:rgb(71, 0, 137);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}



/*---------------FOOTER-CSS-------------------*/

footer{
    padding: 1rem 0;
    background-color: rgb(71, 0, 137);
    color: #fff;
    text-align: center;
}

.footer-container{
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col{
    padding: 2rem;
}

.footer-logo{
    font-size: 180px;
    padding: 2rem;
}

.footer-col h4{
    font-size: 26px;
    padding: 2rem 0 1rem 0;
}
.footer-underline {
    border: none;
    border-top: 0.2rem solid #fff;
    max-width: 20rem;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1rem;
}

.footer-col ul{
    display: flex;
    justify-content: center;
}

#footer-li{
    width: auto;
}

.footer-col li{
    padding: 1rem;
}

.btn-social{
    display: block;
    background-color: rgb(137, 137, 137);
    color:#fff;
    font-size:25px; 
    border-radius: 50px;
    height: 55px;
    width:55px;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}



.btn-social:hover{
    transition: .3s ease-in-out;
    background-color: blueviolet;
   
    border: 3px solid #fff;

}

@media screen and (max-width: 480px) {
    .footer-container{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-col li{
        padding: 1rem;
        width: auto;
    }

    #footer-li{
        padding: 0;
    }
  }
@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer-container{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: space-between;
        
        align-items: center;
    }
    
    .footer-col li{
        padding: 1rem;
        width: auto;
    }
  }
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer-container{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: space-between;
        
    }
  }
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .footer-container{
        display: flex;
        padding: 2rem;
        flex-direction: row;
        justify-content: space-between;
        
    }
  }


/*---------------COPYRIGHT-CSS-------------------*/

.copyright{
    background-color: rgb(35, 35, 35);
    padding: 2.4rem 0;
    text-align: center;
}
#copyrightText{
    font-family: 'Charis SIL', serif;
    color: #fff;
    font-size: 18px;
}

#aroundWeb{
    display: flex;
    flex-direction: column;
}

#aroundWeb li{
    color:#fff;
    font-size:18px;
}

#aroundWeb li:hover{
    transition: all .4s;
    font-weight: 800;
}

#aroundContact{
    display: flex;
    flex-direction: column;
}

#aroundContact li{
    color:#fff;
    font-size:18px;
}

@media screen and (max-width: 480px) {
   
  }